button {
    border-radius:5px;
    padding:5px;
    margin:5px;
    background-color:#f9f9f9;
    font-family:sans-serif;
}
button:hover {
    background-color:#eeeeee;
}
.container {
    float:left;
    margin-right:25px;
    padding-right:10px;
    font-size:100%;
    font-family:sans-serif;
    text-align:center;
}
.tableContainer {
    display:flex;
    flex-direction:column;
}
.columnContainer {
    width:300px;
    height:50px;
    display:flex;
    flex-direction:row;
    border-bottom: solid 1px;
}
.rowContainer {
    width:100%;
    display: flex;
    align-items: center;
}
.iconImage {
    width:35px;
    height:35px;
}
.titleBox {
    font-weight:bold;
}